<!DOCTYPE html>
<html>
  <head>
    <meta cahrset = "utf-8">
    <title><Quiz - Autor ></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='../public/favicon.ico' type = 'image/x-icon' />
  </head>
  <body>
    <h2> Quiz:  </h2>
    <p> <%= autor %> </p>
    <p> José Manso Ortega <br><br>
    Una foto con mi madre:<br>
    <img srC="/images/miandmad.jpg" width=250px heigth=auto ALT="Mi madre y yo ">
      
    </p><br>
    
    <a href = "/"> Inicio </a>
  </body>
</html>
